/* ตั้งค่าสีพื้นหลังให้กับตาราง */
.ant-table-thead > tr > th {
    background-color: #f0f0f0;
    color: #333;
    font-weight: bold;
    text-align: center;
}

.ant-table-tbody > tr > td {
    text-align: center;
}


/* ตั้งค่าขอบตาราง */
.ant-table {
    border: 1px solid #42C2C2;
    border-radius: 50px;
}

/* ปรับแต่งพื้นที่ของปุ่มเพิ่มอุปกรณ์ */
.space-align-container .ant-space {
    display: flex;
    justify-content: flex-end;
    margin-top: 16px;
}

/* ปรับแต่งเส้นคั่น */
.ant-divider {
    border-top: 2px solid #42C2C2;
    width: 100%;
}